@font-face{
  font-family: Jura;
  src: url(../fonts/Jura-Regular.ttf);
}
@font-face{
  font-family: Mont;
  src: url(../fonts/Montserrat-Regular.ttf);
}


*{
	margin: 0;
	padding: 0;
	font-family: Mont;
}


@media only screen and (max-width: 600px) {
  #toplog{
    width: 90% !important;
  }
  #einput textarea{
    margin-bottom: 10px !important;
  }
}